<div class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ title_prefix }}
        {% if label %}
          {% set title= label['#markup'] %}
          <h2 class="heading">{{ title | upper }}</h2>
        {% endif %}
        {{ title_suffix }}
      </div>
    </div>
{#    <a id="main-content"></a>#}
    <div class="section pt-5 pb-0">
        {% block content %}
          <div class="row justify-content-center">
      {% for item in content['#view'].result %}
        <div class="col-lg-12">
        <div class="post-entry d-md-flex small-horizontal mb-5">
          <div class="me-md-5 thumbnail mb-3 mb-md-0">
            <img src="{{ file_url(item._entity.field_image.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image" class="img-fluid">
          </div>
          <div class="content">
            <div class="post-meta mb-3">
              <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item._entity.field_tax_article.entity.id ?? '#'}) }}" class="category">{{ item._entity.field_tax_article.entity.name.value ?? '.' }}</a>
              &mdash;
              <span class="date">{{ item._entity.field_created_at.value | date("M d, Y") }}</span>
            </div>
            <h2 class="heading"><a href="{{ path('entity.node.canonical', {'node': item._entity.title.entity.id}) }}">Y{{ item._entity.label }}</a></h2>
            <p>{{ item._entity.field_introduction.value }}</p>
            <a href="#" class="post-author d-flex align-items-center">
              <div class="author-pic">
                <img src="{{ file_url(item._entity.field_user_author.entity.user_picture.entity.uri.value) }}" alt="Image">
              </div>
              <div class="text">
                <strong>{{ item._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</strong>
                <span>{{ item._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
        {% endblock %}
  </div>
</div>
