
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
]
%}
<section{{ attributes.addClass(classes) }}>
  {#  <div class="row justify-content-center mb-5">#}
  {#    <div class="col-lg-7 text-center">#}
  {#      {{ title_prefix }}#}
  {#      {% if label %}#}
  {#        <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>#}
  {#      {% endif %}#}
  {#      {{ title_suffix }}#}
  {#    </div>#}
  {#  </div>#}
  {#  {% block content %}#}
  {#    {{ content }}#}
  {#  {% endblock %}#}
  <a id="main-content"></a>
  <div class="section pt-5 pb-0">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center">
          {{ title_prefix }}
          {% if label %}
            {% set title= label['#markup'] %}
            <h2 class="heading">{{ title | upper }}</h2>
          {% endif %}
          {{ title_suffix }}
        </div>
      </div>
      {% block content %}
        <div class="row">
          <div class="col-lg-12">
            <div class="posts-slide-wrap">
              <div class="posts-slide" id="posts-slide">
                {% for item in content['#view'].result %}
                  <div class="item">
                    <div class="post-entry d-lg-flex">
                      <div class="me-lg-5 thumbnail mb-4 mb-lg-0">
                        <img src="{{ file_url(item._entity.field_image.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image" width="400px" class="img-fluid">
                      </div>
                      <div class="content align-self-center">
                        <div class="post-meta mb-3">
{#                          {{ dump(path('entity.taxonomy_term.canonical', {'taxonomy_term': item._entity.field_tax_article.entity.id ?? '#'})) }}#}
                          <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item._entity.field_tax_article.entity.id ?? '#'}) }}" class="category">{{ item._entity.field_tax_article.entity.name.value ?? '.' }}</a>
                          &mdash;
                          <span class="date">{{ item._entity.field_created_at.value | date("M d, Y") }}</span>
                        </div>
                        <a href="{{ path('entity.node.canonical', {'node': item._entity.title.entity.id}) }}">
                          <h2 class="heading">{{ item._entity.label }}</h2>
                        </a>
                        <p>{{ item._entity.field_introduction.value }}</p>
                        <a href="#" class="post-author d-flex align-items-center">
                          <div class="author-pic">
                            <img src="{{ file_url(item._entity.field_user_author.entity.user_picture.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image">
                          </div>
                          <div class="text">
                            <strong>{{ item._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</strong>
                            <span>{{ item._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
</section>


