{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
]
%}
<section{{ attributes.addClass(classes) }}>
  <div class="section">
    <div class="container">
      <div class="row g-5">
        {% for i in 0..5  %}
          {% if content['#view'].result[i] is not null %}
            {% set article=content['#view'].result[i] %}
            <div class="col-lg-4">
              <div class="post-entry d-block small-post-entry-v">
                <div class="thumbnail">
                  <a href="{{ path('entity.node.canonical', {'node': article._entity.field_tax_article.entity.id}) }}">
                    <img src="{{ file_url(article._entity.field_image.entity.uri.value ?? 'https://picsum.photos/383/334') }}" alt="Image" class="img-fluid">
                  </a>
                </div>
                <div class="content">
                  <div class="post-meta mb-1">
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': article._entity.field_tax_article.entity.id ?? '#'}) }}" class="category">{{ article._entity.field_tax_article.entity.name.value ?? '.' }}</a>
                    &mdash;
                    <span class="date">{{ article._entity.field_created_at.value | date("M d, Y") }}</span>
                  </div>
                  <h2 class="heading mb-3"><a href="{{ path('entity.node.canonical', {'node': article._entity.title.entity.id}) }}">{{ article._entity.label }}</a></h2>
                  <p>{{ article._entity.field_introduction.value }}</p>
                  <a href="#" class="post-author d-flex align-items-center">
                    <div class="author-pic">
                      <img src="{{ file_url(article._entity.field_user_author.entity.user_picture.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image">
                    </div>
                    <div class="text">
                      <strong>{{ article._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</strong>
                      <span>{{ article._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
