<form action="content['#action']">
  <div class="row">
    <div class="col-md-9">
      <input type="search" id="{{ content.keys['#id'] }}" name="{{ content.keys['#name'] }}" class="form-control" placeholder="Search...">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">
        Search
      </button></div>
    </div>


</form>

