{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
]
%}
<section{{ attributes.addClass(classes) }}>
  <div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center">
          {{ title_prefix }}
          {% if label %}
            <h2 class="heading">{{ label | upper }}</h2>
          {% endif %}
          {{ title_suffix }}
        </div>
      </div>
    </div>
    <div class="most-popular-slider-wrap px-3 px-md-0">
      <div id="most-popular-nav">
        <span class="prev" data-controls="prev">Prev</span>
        <span class="next" data-controls="next">Next</span>
      </div>
      <div class="most-popular-slider" id="most-popular-center">
        {% for item in content['#view'].result %}
          <div class="item">
          <div class="post-entry d-block small-post-entry-v">
            <div class="thumbnail">
              <a href="{{ path('entity.node.canonical', {'node': item._entity.field_tax_article.entity.id}) }}">
                <img src="{{ file_url(item._entity.field_image.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image" class="img-fluid" width="300px">
              </a>
            </div>
            <div class="content">
              <div class="post-meta mb-1">
                <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item._entity.field_tax_article.entity.id ?? '#'}) }}" class="category">{{ item._entity.field_tax_article.entity.name.value ?? '.' }}</a> &mdash;
                <span class="date">{{ item._entity.field_created_at.value | date("M d, Y") }}</span>
              </div>
              <h2 class="heading mb-3"><a href="{{ path('entity.node.canonical', {'node': item._entity.title.entity.id}) }}">{{ item._entity.label }}</a></h2>
              <p>{{ item._entity.field_introduction.value }}</p>
              <a href="#" class="post-author d-flex align-items-center">
                <div class="author-pic">
                  <img src="{{ file_url(item._entity.field_user_author.entity.user_picture.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image">
                </div>
                <div class="text">
                  <strong>{{ item._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</strong>
                  <span>{{ article._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

