<div class="py-5 bg-light mx-md-3 sec-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h4 fw-bold">Subscribe to newsletter</h2>
      </div>
    </div>
    <form action="#" class="row">
      <div class="col-md-8">
        <div class="mb-3 mb-md-0">
          <input type="email" class="form-control" placeholder="Enter your email">
        </div>
      </div>
      <div class="col-md-4 d-grid">
        <input type="submit" class="btn btn-primary" value="Subscribe">
      </div>
    </form>
  </div>
</div>
<div class="site-footer">
  <div class="container">
    <div class="row justify-content-center copyright">
      <div class="col-lg-7 text-center">
        <div class="widget">
          <ul class="social list-unstyled">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-youtube-play"></span></a></li>
          </ul>
        </div>
        <div class="widget">
          <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved
          </p>
          <div class="d-block">
            <a href="#" class="m-2">Terms &amp; Conditions</a>/
            <a href="#" class="m-2">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/glightbox.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/navbar.js"></script>
  <script src="js/counter.js"></script>
  <script src="js/custom.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script></div>
