<section>
  <div class="section">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6">
          <div class="row mb-4">
            <div class="col-12">
              {{ title_prefix }}
              {% if label %}
                {% set title= label['#markup'] %}
                <h2 class="heading">{{ title | upper }}</h2>
              {% endif %}
              {{ title_suffix }}
            </div>
          </div>
          <div class="row justify-content-center">
            {% for i in 0..2%}
              {% if content['#view'].result[i] is not null %}
                {% set article=content['#view'].result[i] %}
                  <div class="col-lg-12">
              <div class="post-entry d-md-flex xsmall-horizontal mb-5">
                <div class="me-md-3 thumbnail mb-3 mb-md-0">
                  <img src="{{ file_url(article._entity.field_image.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image" class="img-fluid">
                </div>
                <div class="content">
                  <div class="post-meta mb-1">
                    <a href="Business" class="category">Business</a>
                    &mdash;
                    <span class="date">{{ article._entity.field_created_at.value | date("M d, Y") }}</span>
                  </div>
                  <h2 class="heading"><a href="{{ path('entity.node.canonical', {'node': article._entity.title.entity.id}) }}">{{ article._entity.label }}</a></h2>
                  <a href="#" class="post-author d-flex align-items-center">
                    <div class="author-pic">
                      <img src="{{ file_url(article._entity.field_user_author.entity.user_picture.entity.uri.value ?? 'https://picsum.photos/250/160') }}" alt="Image">
                    </div>
                    <div class="text">
                      <strong>{{ article._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</strong>
                      <span>{{ article._entity.field_user_author.entity.field_full_name.value ?? 'Anonymous' }}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
