<div class="section post-section pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
{#          <img src="{{ file_url(node.Owner.user_picture.0.entity.uri.value) }}" alt="Image" class="author-pic img-fluid rounded-circle mx-auto">#}
          <img src="{{ file_url(node.field_user_author.entity.user_picture.entity.uri.value) }}" alt="Image" class="author-pic img-fluid rounded-circle mx-auto">
        </div>
        <span class="d-block text-center">{{ node.field_user_author.entity.field_full_name.value }}</span>
        <span class="date d-block text-center small text-uppercase text-black-50 mb-5">{{ node.field_created_at.value | date("M d, Y") }}</span>
        <h2 class="heading text-center">{{ node.title.value }}</h2>
        <p class="lead mb-4 text-center">{{ node.field_introduction.value }}</p>
          {{ node.body.entity.body.value |raw }}
        <div class="row mt-5 pt-5 border-top">
          <div class="col-12">
            <ul class="social list-unstyled">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

