<div class="section pt-5 pb-0">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-9">
        <span class="fw-normal text-uppercase d-block mb-1">Categories</span>
        <h2 class="heading">{{ name['#items'].0.value }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
