{% spaceless %}
  {% if input_group %}
    <div class="form-group pt-5">
  {% endif %}

  {% if prefix %}
    <label for="exampleInputEmail1">{{ prefix }}</label>
  {% endif %}

  {% block input %}
    <input {{ attributes.addClass('form-control') }} {{ attributes }} />
  {% endblock %}

  {% if suffix %}
    {{ suffix }}
  {% endif %}

  {% if input_group %}
    </div>
  {% endif %}

  {{ children }}
{% endspaceless %}
